{% extends 'carniApp1/navbar.html' %} {% block content %}

<body>
  {%load static%}
  <main id="main">
    <div class="alertas">
      <div class="alerta alert alert-danger aparecer animacion" id="alerta_correo">
        El correo esta vacio...
      </div>

      <div class="alerta alert alert-warning aparecer animacion" id="alerta_invalida">
        Parece que esta cuenta no existe, intente registrarse...
      </div>

      <div class="alerta alert alert-danger aparecer animacion" id="alerta_contraseña">
        La contraseña esta vacia...
      </div>
    </div>

    <div class="titulo">
      <h1>Bienvenido/a</h1>
    </div>


    {% if messages %}
    <div class="alert alert-success" role="alert">
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    </div>
    {% endif %}

    <form method="post" class="login-form shadow">
      {% csrf_token %}
      <h3 class="text-center mb-5">Iniciar sesión</h3>
      <div class="mb-4">
        <label for="exampleInputEmail1" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="username" />
      </div>
      <div class="mb-5">
        <label for="exampleInputPassword1" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password" />
      </div>
      <a href="{% url 'recuperarClave' %}" style="display: block;" class="text-info">Si olvidó su clave, haga clic
        aquí.</a>
      <button type="submit" class="mt-4 btn btn-danger">Iniciar sesión</button>
    </form>
  </main>

  {% endblock %}
</body>