{% extends 'carniApp1/navbar.html' %} {% block content %}

<body>
    {% load static %}
    <main>
        <!-- <h1>{{ user.username }} Orders</h1> -->
        <h1>Mis Compras</h1>
        {% if users_orders %}
        <div>
            <ul class="mt-5">
                {% for order in users_orders %}
                <li class="mb-5">
                    <strong>Número de la compra:</strong> {{ order.id }}<br>
                    <strong>Fecha de la compra:</strong> {{ order.fecha_compra }}<br>
                    <strong>Total:</strong> ${{ order.total_compra }}<br>
                    <hr>
                    {% for order_detail in detalle_compra %}
                    {% if order.id == order_detail.compra_id %}
                    <p>
                        Producto comprado: {{ order_detail.nombre_producto }}<br>
                        Cantidad: {{ order_detail.cantidad_comprada }} KG<br>
                        Precio total: ${{ order_detail.precio_producto }}<br>
                    </p>
                    {% endif %}
                    {% endfor %}

                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>No has realizado ninguna compra aún.</p>
        {% endif %}

    </main>
    {% endblock %}
</body>