{% extends 'carniApp1/navbar.html' %} {% block content %}

<body>
    {% load static %}
    <main id="main1">

        <!-- <h1>{{ user.username }} Precompras</h1> -->
        <h1>Mis Pre-Compras</h1>
        {% if precompras_usuario %}
        <div>
            <ul class="mt-5">
                {% for precompra in precompras_usuario %}
                <li class="mb-5">
                    <strong>Número de la pre-compra:</strong> {{ precompra.id }}<br />
                    <strong>Fecha de la Pre-Compra:</strong> {{ precompra.fecha_precompra }}<br />
                    <strong>Total:</strong> ${{ precompra.total_precompra }}<br />
                    <strong>Estado de la pre-compra:</strong> {{ precompra.estado }}<br />
                    <!-- Display other order details as needed -->
                    <hr />
                    <!-- Display order details for the current order -->
                    {% for order_detail in detalles_precompras %}
                    {% if precompra.id == order_detail.precompra_id %}
                    <p>
                        Producto: {{ order_detail.nombre_producto }}<br />
                        Cantidad: {{ order_detail.cantidad_comprada }} KG<br />
                        Precio total: ${{ order_detail.precio_producto }}<br />
                    </p>
                    {% endif %}
                    {% endfor %}

                    <hr />
                </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p>No has realizado pre-compras aún.</p>
        {% endif %}
    </main>
    {% endblock %}
</body>