{% extends 'carniApp1/navbar.html' %}
{% block content %}
<body>
    {% load static %}
    <div class="container">
        <div class="row">
            <div class="col">
                <section>
                    <div class="alert alert-Danger"> Catálogo de productos</div>
                    <form method="get">
                        <input type="submit" name="ordenar" value="Ordenar de Mayor a Menor Precio">
                    </form>                    
                    <form method="get">
                        <input type="submit" name="ordenar2" value="Ordenar de Menor Precio a Mayor">
                    </form>                    
                    <div class="row">
                        {% for codigo,detalle in producto.items %}
                        <div class="col col-lg-4 mt-4">
                            <div class="card">
                                <div class="card-header bg-danger h-2 ">{{detalle.0}}</div>
                                <div class="card-body">
                                    <img class="img-fluid w-100" src="{% static 'images/' %}{{detalle.4}}" alt="imagenes del producto {{detalle.0}}">
                                    <ul class ="mt-5 text-start fs-4">
                                        <li>Marca: {{detalle.1}}</li>
                                    </ul>
                                </div>
                                <div class=" card-footer bg-danger h-1 ">
                                ${{detalle.3}} x kilo
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endblock %}
