{% extends 'crudsTemplates/base.html' %}
{% load static %}

{% block title %} Eliminar producto {% endblock title%}

{% block contents %}

<div class="container eliminar-container">
        <div class="alert alert-danger col-3 text-center alerta-eliminar" role="alert">
            ¿Desea eliminar {{ producto.nombre }} de la lista?
        </div>
        <form method="post" class="form-eliminar">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Sí</button>
            <a href="{% url 'productosDeCategoria' producto.tipo_id %}" class="btn btn-primary">No</a>
        </form>
</div>

{% endblock contents %}